.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  transition: background-color 0.3s ease;
}

.dark {
  background-color: darkgray;
  color: #fff;
}

.darkmode-btn {
  margin-bottom: 20px;
}

/* 토글 스위치 스타일 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h2 {
  text-align: center;
}
.input-box {
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: block; /* 블록 요소로 설정하여 가운데 정렬이 적용될 수 있도록 함 */
}

.game-board {
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;
}

.pop-up1,
.pop-up2,
.pop-up--hide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색을 투명하게 설정하여 겹치는 영역을 알아볼 수 있게 합니다. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pop-up--hide {
  display: none;
}

.pop-up__message {
  display: block;
  font-size: 28px;
  color: white;
}
